name: Latest blog post workflow
on:
  schedule:
    # Runs day at 9
    - cron: '* * * * *'

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: aratik711/daily-blogs-news@master
        with:
          max_post_count: "10"
          feed_list: "https://sreweekly.com/feed/,https://devops.com/feed/"
